/* nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
  }
  
  .centered-div {
    display: flex;
  } */

  .navbar {
    margin-bottom: 20px;
  }
  
  .nav-link {
    cursor: pointer;
  }
  