<!-- <nav>
    <ul>
      <li><a (click)="goToLeague(39)">England</a></li>
      <li><a (click)="goToLeague(140)">Spain</a></li>
      <li><a (click)="goToLeague(61)">France</a></li>
      <li><a (click)="goToLeague(79)">Germany</a></li>
      <li><a (click)="goToLeague(135)">Italy</a></li>
    </ul>
  </nav> -->

  <nav>
    <ul>
      <li><button class="btn btn-primary" (click)="navigateTo('/standings/39/2023')">English Premier League</button></li>
      <li><button class="btn btn-primary" (click)="navigateTo('/standings/140/2023')">La Liga</button></li>
      <li><button class="btn btn-primary" (click)="navigateTo('/standings/61/2023')">Ligue 1</button></li>
      <li><button class="btn btn-primary" (click)="navigateTo('/standings/79/2023')">Bundesliga</button></li>
      <li><button class="btn btn-primary" (click)="navigateTo('/standings/135/2023')">Serie A</button></li>
    </ul>
  </nav>
  
  