<!-- <nav>
    <ul>
      <li><a (click)="goToLeague(39)">England</a></li>
      <li><a (click)="goToLeague(140)">Spain</a></li>
      <li><a (click)="goToLeague(61)">France</a></li>
      <li><a (click)="goToLeague(79)">Germany</a></li>
      <li><a (click)="goToLeague(135)">Italy</a></li>
    </ul>
  </nav> -->
<br>
  <nav>
    <div class="centered-div">
      <button class="btn btn-primary" (click)="navigateTo('/standings/39/2023')">England</button>
      <button class="btn btn-primary" (click)="navigateTo('/standings/140/2023')">Spain</button>
      <button class="btn btn-primary" (click)="navigateTo('/standings/61/2023')">France</button>
      <button class="btn btn-primary" (click)="navigateTo('/standings/79/2023')">Germany</button>
      <button class="btn btn-primary" (click)="navigateTo('/standings/135/2023')">Italy</button>
    </div>
  </nav>
  
  