.logo {
    max-width: 40px;  /* You can adjust the size as needed */
    max-height: 40px; /* You can adjust the size as needed */
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: center;
    vertical-align: middle;
  }

  .responsive-th {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @media (max-width: 768px) {
    .responsive-th {
      font-size: 12px;
    }
  }
  
  @media (max-width: 576px) {
    .responsive-th {
      font-size: 10px;
    }
  }

  .responsive-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @media (max-width: 768px) {
    .responsive-td {
      font-size: 12px;
    }
  }
  
  @media (max-width: 576px) {
    .responsive-td {
      font-size: 10px;
    }
  }